table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

table {
    table-layout: fixed;
    width: 600px;
}
th {
    background-color: #d7d7d7;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}